{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CatCollector</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Cat Collector</h1>
    
    <h2> Name: {{ cat.name }}</h2>
    <p> Breed: {{ cat.breed }}</p>
    <p> Description: {{ cat.description }}</p>
    <p> Age: {{ cat.age }}</p>

</body>
</html>